<div class="canvas-container">
  <canvas #myCanvas></canvas>
  <canvas #zCanvas></canvas>
</div>

<div class="flex-container" style="margin: 0 auto;">
  <button class="flex-item" (click)="btnIn()"><i class="material-icons">keyboard_arrow_up</i></button>
  R
  <button class="flex-item" (click)="btnOut()"><i class="material-icons">keyboard_arrow_down</i></button>

  <button class="flex-item" (click)="btnDown()"><i class="material-icons">keyboard_arrow_down</i></button>
  Z
  <button class="flex-item" (click)="btnUp()"><i class="material-icons">keyboard_arrow_up</i></button>

  <button class="flex-item" (click)="btnClockwise()"><i class="material-icons">keyboard_arrow_left</i></button>
  Θ
  <button class="flex-item" (click)="btnCounterclockwise()"><i class="material-icons">keyboard_arrow_right</i></button>
</div>
