table.farmbot-controls {
  text-align: center;
  margin: 0px auto;
  width: 100%;
}

td.left-button {
  text-align: right;
}

td.right-button {
  text-align: left;
}

div.canvas-container {
  display: flex;
  text-align: center;
  flex-direction: row;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-item {
  margin: auto 5px;
}

#plot-container {
    position: relative;
}

.myCanvas {
    position: absolute;
    top: 5px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.appPlotPositionGraphic {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}