<div class="plot-full-window">
    <md-card  class="plot-list">
        <md-list *ngIf="plotPositions">
            <md-list-item *ngFor="let plot of plotPositions" (click)="onSelect(plot)">
                <button md-button>{{plot.id}}</button>
            </md-list-item>
        </md-list>   

    </md-card>

    <div class="selected-plot-details">
        <md-card *ngIf="selectedPlot">
            Radius: {{selectedPlot.r}}<br>
            Angle: {{selectedPlot.t}}<br>
            Height: {{selectedPlot.z}}
        </md-card>
    </div>
</div>