<h3>Plot Component</h3>
<p>The plot component will show the current status of all plants that are currently
planted. Here users will be able to layout their desired plot from the plants listed in
plant micro-service. A user can also remove plants from this component.</p>

<div class="plot-full-window">
    <div class="position-selector">
        <md-card>
            <div class="plot-container">
                <app-plot-background [plot]="plot" [margin]=10></app-plot-background>
                <app-plot-position-graphic [plot]="plot" [positions]="plotPositions" [margin]=10 [selected]="selectedPlot" (plotClick)="onSelect($event)" (clear)="clearSelection()"></app-plot-position-graphic>
            </div>
        </md-card>
    </div>
    <div class="selected-plot-details">
        <div *ngIf="selectedPlot" class="plot-panel-spacer"></div>
        <md-card *ngIf="selectedPlot">
            Radius: {{selectedPlot.r}}<br>
            Angle: {{selectedPlot.t}}<br>
            Height: {{selectedPlot.z}}
        </md-card>
    </div>
</div>
