
md-toolbar {
  color: #359007;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 20px;
}

md-toolbar img {
  padding: 10px;
}

button {
  margin: 0px 5px;
}

main {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #eee;
}

footer {
  position: fixed;
  bottom: 10px;
  margin-top: 10px;
  text-align: center;
  width: 100%
}

.spacer {
  flex: 1 1 auto;
}