<header>
  <md-toolbar>
      <img src="/assets/DEMETER.png" alt="logo" height="40px">
      {{title}}
      <span class="spacer"></span>
      <button md-raised-button [routerLink]="['/dashboard']" routerLinkActive="active">DASHBOARD</button>
      <button md-raised-button [routerLink]="['/machine']" routerLinkActive="active">MACHINE</button>
      <button md-raised-button [routerLink]="['/plant']" routerLinkActive="active">PLANT</button>
      <button md-raised-button [routerLink]="['/plot']" routerLinkActive="active">PLOT</button>
      <button md-raised-button [routerLink]="['/about']" routerLinkActive="active">ABOUT</button>
  </md-toolbar>
</header>

<main>
  <md-card>
    <router-outlet></router-outlet>
  </md-card>
</main>

<footer>
  <i class="fa fa-american-sign-language-interpreting fa-5x" aria-hidden="true"> </i>
{{footer}}
</footer>
