
md-toolbar {
  color: #359007;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 20px;
  z-index: 1;
  position: fixed;
  top: 0px;
  height: 65px;
}

md-toolbar img {
  padding: 10px;
}

button {
  margin: 0px 5px;
}

main {
  height: 100%;
  z-index: 0;
  padding-left: 10%;
  padding-right: 10%;
  background-color: #eee;
  position: relative;
  overflow: auto;
}

footer {
  position: fixed;
  bottom: 10px;
  margin-top: 10px;
  text-align: center;
  width: 100%
}

.spacer {
  flex: 1 1 auto;
}