<h3>Plant Component</h3>
<p>The plant component will display all the plants listed in the plant micro-service.
  Here a user will be able to add new plants or change information on existing plant.</p>

<div *ngIf="plants" class="plant-card-grid">
  <span *ngFor="let plant of plants">
    <md-card class="plant-card">
      <md-card-title>
        {{plant.name}}
      </md-card-title>
        <form>
          <span class="plant-card-row">
            <div>Height:</div>
            <md-input-container>
              <input mdInput type="number" [(ngModel)]="plant.height" name="height">
              <span md-suffix>mm</span>
            </md-input-container>
          </span>
          <span class="plant-card-row">
            <div>Width:</div>
            <md-input-container>
              <input mdInput type="number" [(ngModel)]="plant.width" name="width">
              <span md-suffix>mm</span>
            </md-input-container>
          </span>
          <span class="plant-card-row">
            <div>Depth:</div>
            <md-input-container>
              <input mdInput type="number" [(ngModel)]="plant.depth" name="depth">
              <span md-suffix>mm</span>
            </md-input-container>
          </span>
          <span class="plant-card-row">
            <div>Days to harvest:</div>
            <md-input-container>
              <input mdInput type="number" [(ngModel)]="plant.days_to_harvest" name="days_to_harvest">
              <span md-suffix>days</span>
            </md-input-container>
          </span>
          <span>
            <div>Description</div>
            <md-input-container class="plant-description">
              <input mdInput type="text" [(ngModel)]="plant.description" name="description">
            </md-input-container>
          </span>
        </form>
    </md-card>
  </span>
</div>
