<h3>Plant Component</h3>
<p>The plant component will display all the plants listed in the plant micro-service.
  Here a user will be able to add new plants or change information on existing plant.</p>
<div class="plant-full-window">
<div class="plant-list">
  <md-card>
    <md-list *ngIf="plants">
      <div class="icon-container">
       <button md-raised-button class="add-plant-button"> ADD </button>
    </div>
      <md-list-item *ngFor="let plant of plants" class="plant-list-item" (click)="onSelect(plant)">
         {{plant.name}}
      </md-list-item>
 
    </md-list>
    
  </md-card>
</div>

<div class="plant-details">
  <md-card>
    <div *ngIf="selectedPlant">
      <span><h1 align="center">{{selectedPlant.name}}</h1></span>
      <md-list>
      <md-list-item class="plant-details-design"><b>Height:</b> {{selectedPlant.height}}</md-list-item>
      <md-list-item class="plant-details-design"><b>Width: </b>{{selectedPlant.width}}</md-list-item>
      <md-list-item class="plant-details-design"><b>Days to harvest: </b>{{selectedPlant.days_to_harvest}}</md-list-item>
      <md-list-item class="plant-details-design"><b>Depth: </b>{{selectedPlant.depth}}</md-list-item>
      
      </md-list>
    </div>
  </md-card>
</div>
</div>


<!--<div *ngIf="plants" class="plant-card-grid">
  <span *ngFor="let plant of plants" class="plant-card">
    <md-card>
      <md-card-title>
        {{plant.name}}
      </md-card-title>
        <form>
          <span class="plant-card-row">
            <div>Height:</div>
            <md-input-container>
              <input mdInput type="number" [(ngModel)]="plant.height" name="height">
              <span md-suffix>mm</span>
            </md-input-container>
          </span>
          <span class="plant-card-row">
            <div>Width:</div>
            <md-input-container>
              <input mdInput type="number" [(ngModel)]="plant.width" name="width">
              <span md-suffix>mm</span>
            </md-input-container>
          </span>
          <span class="plant-card-row">
            <div>Depth:</div>
            <md-input-container>
              <input mdInput type="number" [(ngModel)]="plant.depth" name="depth">
              <span md-suffix>mm</span>
            </md-input-container>
          </span>
          <span class="plant-card-row">
            <div>Days to harvest:</div>
            <md-input-container>
              <input mdInput type="number" [(ngModel)]="plant.days_to_harvest" name="days_to_harvest">
              <span md-suffix>days</span>
            </md-input-container>
          </span>
          <span>
            <div>Description</div>
            <md-input-container class="plant-description">
              <input mdInput type="text" [(ngModel)]="plant.description" name="description">
            </md-input-container>
          </span>
        </form>
    </md-card>
  </span>
</div>-->
