.plant-card-grid {
    display: flex;
    flex-wrap: wrap;
}

.plant-card {
    height: 100%;
    width: 300px;
    margin-right: 10px;
    margin-bottom: 10px;
    min-width: 250px;
}

.plant-card-row {
    display: table-row;
}

.plant-card-row * {
    display: table-cell;
    padding: 0 10px 0 10px;
}

.plant-card-row div {
    float: right;
}

.plant-description {
    width: 100%
}