/*style="overflow: auto; max-height=600px; display:flex; flex-direction:column-reverse;"*/

.chat-window-container {
  bottom: 0;
  right: 0;
  position: absolute;
  float: left;
  margin: 10px;
  max-height: 750px;
  height: 95%;
  padding: 5px;

  > div > .panel {
    border-radius: 5px 5px 0 0;
  }

  .panel-footer {
    position: absolute;
    bottom: 10px;
  }

  .panel-body msg-container-base {
    max-height: 650px;
    overflow-y: scroll;
  }

  .panel-title-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    width: 240px;
    padding: 10px;

    > h3 {
      margin: 0;
    }
  }
}

.messages {
  margin-top: 40px;
  margin-bottom: 35px;
  max-height: 460px;
  overflow-x: auto;
  width: 250px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    > {
      p {
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        background: white;
        padding: 10px;
        border-radius: 2px;
        max-width: 100%;
        font-size: 13px;
        margin: 0 0 0.2rem 0;
      }
      .time {
        font-size: 11px;
        color: #ccc;
      }
    }
  }